block content
  div#city_data_entry_wrapper
    form(action='/add_city', method = 'POST')
    
      fieldset
        legend#large_legend Add City
        label.form_label City Name :
          input(label='city_name',name='city_name', type='text')
        label.form_label City Population :
          input(label='city_population',name='city_population', type='text')
        label.form_label Latitude:
          input(label='lat', id='lat_display', name = 'lat_display' type='text')
        label.form_label Longitude:
          input(label='lng', id='lng_display', name = 'lng_display' type='text')
        label.form_label Allegiance or Region:
          select(name='allegiance_select')
            option(value="Please Select")
            option(name='option 1' value='region 1')
            option(value='region 2')
            option(value='region 3')
            option(value='region 4')
            option(value='region 5')
        
