block navigation
  
  link(rel='stylesheet', href='/stylesheets/nav_style.css')
  ul.nav_list
    li.nav_link
      a(href='/') Home
    li.nav_link
      a(href='/all_cities') Locations
    li.nav_link
      a(href='/characters') Characters
    li.nav_link
      a(href='/map') World Map
    li.nav_link
      a(href='/a_year') Calendar
    li.nav_link
      a(href='/login') Log in
    li.nav_link
      a(href='/logout') Log out
    li.nav_link
      a(href='/myaccount') My Account
